html
    head
        title TJYee - #{title}
        block scripts

    body
        block content

        block foot
            p This site will be undergoing construction as I practice more web development.
            p
                | Please visit my #[a(href="https://github.com/TJYee/Sandbox/tree/master/tjyee") GitHub]
                | to monitor development.
            p Taylor Yee 2017